src/main/mule/x-api-appointment-of-intermediatory.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:p-api-setup-tp="http://www.mulesoft.org/schema/mule/p-api-setup-tp" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="x-api-appointment-of-intermediatory-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8099" />
    </http:listener-config>
    <apikit:config name="x-api-appointment-of-intermediatory-config" raml="x-api-appointment-of-intermediatory.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    
    
    <api-gateway:autodiscovery apiId="15733245" doc:name="API Autodiscovery" doc:id="6151b530-99c7-46a7-9f81-be94b69d3d87" flowRef="x-api-appointment-of-intermediatory-main" />
	
	
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="7d41e87d-7713-4be5-9b74-78b07746c147" >
		<http:request-connection host="so11mul01" port="9077" />
	</http:request-config>
	<flow name="x-api-appointment-of-intermediatory-main">
        <http:listener config-ref="x-api-appointment-of-intermediatory-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="x-api-appointment-of-intermediatory-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="x-api-appointment-of-intermediatory-console">
        <http:listener config-ref="x-api-appointment-of-intermediatory-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="x-api-appointment-of-intermediatory-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\intermediatory\(intermediatoryID)\mortgage\(mortgageID)\lender\(lenderID):x-api-appointment-of-intermediatory-config">
		<logger level="INFO" doc:name="Logger" doc:id="632c93de-2fc3-42d2-b3ed-d41a766b4097" message="#[authentication.properties.claims]"/>
		<choice doc:name="Choice" doc:id="684ce697-c03d-4170-8d19-36030d4e42ca" >
			<when expression='#[authentication.properties.claims.unique_name != "oneuser"]'>
				<logger level="INFO" doc:name="Logger" doc:id="3778109f-a100-4fda-abb3-85c489b5eae7" message="Path1"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="cb391f93-3559-4b48-bbcb-b6c3efe0e131" message="Path2"/>
			</otherwise>
		</choice>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" doc:id="974257b4-bafa-4580-ba5b-5b021544f049">
            <ee:variables>
                <ee:set-variable variableName="intermediatoryID"><![CDATA[attributes.uriParams.intermediatoryID]]></ee:set-variable>
                <ee:set-variable variableName="mortgageID"><![CDATA[attributes.uriParams.mortgageID]]></ee:set-variable>
                <ee:set-variable variableName="lenderID"><![CDATA[attributes.uriParams.lenderID]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="3716c3a4-aba0-4b3d-b85a-e9c1feef1eef">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	tp_id: vars.intermediatoryID,
	customer_id: vars.lenderID,
	loan_id: vars.mortgageID
}]]></ee:set-payload>
				</ee:message>
			</ee:transform>
		<async doc:name="Async" doc:id="823d0238-c21c-4f3b-a6da-1f1b86fe3247" >
			<http:request method="PATCH" doc:name="Request" doc:id="052811d0-e428-43a7-bde5-cf07ffbe5385" config-ref="HTTP_Request_configuration" path="/tpchanges/1">
			<http:uri-params><![CDATA[#[output application/java
---
{
	ID : vars.intermediatoryID
}]]]></http:uri-params>
		</http:request>
		</async>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="d7df2125-e2e4-47ef-9629-9bb3702d17b7">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  Confimation: "ok"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="e6f9f19d-631b-470b-8fd3-4e74c0f72a27" message="FIM!"/>
    </flow>
</mule>
